[submodule "diva/converter"]
	path = diva/converter
	url = https://oauth2:glpat-9fcGNqmXALiVzuGi_yw2@git.pertforge.ismb.it/knowledge/data-quality-converter.git
[submodule "diva/reporter"]
	path = diva/reporter
	url = https://oauth2:glpat-De5RgStcxop3JcoQVQos@git.pertforge.ismb.it/moderate/data-quality-reporter.git
[submodule "reporter"]
	shallow = true
[submodule "converter"]
	shallow = true
