security.protocol=SASL_SSL
sasl.jaas.config: 'org.apache.kafka.common.security.plain.PlainLoginModule required username="kafka-dq" password="KAFKA!dq!2023";'
sasl.mechanism: "PLAIN"
ssl.truststore.type=JKS
ssl.truststore.location=/opt/bitnami/kafka/config/certs/kafka.truststore.jks
ssl.truststore.password=kafka-dq
ssl.endpoint.identification.algorithm=
 